% extends "base_generic.html" %}

{% block content %}
<h1>Главная страница</h1>

  <p>Добро пожаловать в<em>DETRALEX</em> - медицинскую информационную систему для амбулаторно-поликлинических учреждений</p>

<h2>Статистика</h2>

  <script type="text/javascript">
    document.write("<p> На данный момент(" + Date() + ") в системе зарегистрировано:</p>");
    </script>
  <ul>
    <li><strong>Пациентов:</strong> {{ num_patients}}</li>
    <li><strong>Случаев:</strong> {{ num_cases}}</li>
    <li><strong>Моих случаев:</strong> {{ num_cases_leo }}</li>
    <li><strong>Посещений:</strong> {{ num_visits }}</li>
  </ul>

{% endblock %}